In [11]:
print("Dhiraj")

Dhiraj

In [8]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.1-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ----- ---------------------------------- 1.6/11.0 MB 8.1 MB/s eta 0:00:02
   ----------- ---------------------------- 3.1/11.0 MB 8.4 MB/s eta 0:00:01
   ------------------- -------------------- 5.2/11.0 MB 8.9 MB/s eta 0:00:01
   --------------------------- ------------ 7.6/11.0 MB 9.3 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.0 MB 9.6 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 9.5 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas

   ---------------------------------------- 0/3 [pytz]
   ------------- -------------------------- 1/3 [tzdata]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   ---------------------------------------- 3/3 [pandas]

Successfully installed pandas-2.3.1 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.3.1)
Requirement already satisfied: pandas>=1.2 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.3.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import numpy as np
import pandas as pd

In [13]:
import seaborn as sns

In [14]:
df = sns.load_dataset("taxis")

In [16]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [17]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [18]:
df.tail()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [28]:
df["fare"].value_counts(bins = 5)

(0.85, 30.8]      5949
(30.8, 60.6]       453
(60.6, 90.4]        22
(90.4, 120.2]        5
(120.2, 150.0]       4
Name: count, dtype: int64

In [26]:
df["payment"].value_counts()

payment
credit card    4577
cash           1812
Name: count, dtype: int64

In [27]:
df["fare"].value_counts()

fare
7.50     350
6.00     345
6.50     323
5.00     313
5.50     312
        ...
71.20      1
41.63      1
13.61      1
21.08      1
26.32      1
Name: count, Length: 220, dtype: int64

In [29]:
df.shape

(6433, 14)

In [30]:
df.columns

Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls',
       'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough'],
      dtype='object')

In [31]:
df = df.dropna()

In [32]:
df.shape

(6341, 14)

In [33]:
df.color

0       yellow
1       yellow
2       yellow
3       yellow
4       yellow
         ...
6428     green
6429     green
6430     green
6431     green
6432     green
Name: color, Length: 6341, dtype: object

In [34]:
df["color"].value_counts()

color
yellow    5373
green      968
Name: count, dtype: int64

In [35]:
df1 = sns.load_dataset("taxis")

In [36]:
df1.shape

(6433, 14)

In [37]:
df1.describe

<bound method NDFrame.describe of                   pickup             dropoff  passengers  distance  fare  \
0    2019-03-23 20:21:09 2019-03-23 20:27:24           1      1.60   7.0
1    2019-03-04 16:11:55 2019-03-04 16:19:00           1      0.79   5.0
2    2019-03-27 17:53:01 2019-03-27 18:00:25           1      1.37   7.5
3    2019-03-10 01:23:59 2019-03-10 01:49:51           1      7.70  27.0
4    2019-03-30 13:27:42 2019-03-30 13:37:14           3      2.16   9.0
...                  ...                 ...         ...       ...   ...
6428 2019-03-31 09:51:53 2019-03-31 09:55:27           1      0.75   4.5
6429 2019-03-31 17:38:00 2019-03-31 18:34:23           1     18.74  58.0
6430 2019-03-23 22:55:18 2019-03-23 23:14:25           1      4.14  16.0
6431 2019-03-04 10:09:25 2019-03-04 10:14:29           1      1.12   6.0
6432 2019-03-13 19:31:22 2019-03-13 19:48:02           1      3.85  15.0

       tip  tolls  total   color      payment            pickup_zone  \
0     2.15    0.0  12.95  yellow  credit card        Lenox Hill West
1     0.00    0.0   9.30  yellow         cash  Upper West Side South
2     2.36    0.0  14.16  yellow  credit card          Alphabet City
3     6.15    0.0  36.95  yellow  credit card              Hudson Sq
4     1.10    0.0  13.40  yellow  credit card           Midtown East
...    ...    ...    ...     ...          ...                    ...
6428  1.06    0.0   6.36   green  credit card      East Harlem North
6429  0.00    0.0  58.80   green  credit card                Jamaica
6430  0.00    0.0  17.30   green         cash    Crown Heights North
6431  0.00    0.0   6.80   green  credit card          East New York
6432  3.36    0.0  20.16   green  credit card            Boerum Hill

                          dropoff_zone pickup_borough dropoff_borough
0                  UN/Turtle Bay South      Manhattan       Manhattan
1                Upper West Side South      Manhattan       Manhattan
2                         West Village      Manhattan       Manhattan
3                       Yorkville West      Manhattan       Manhattan
4                       Yorkville West      Manhattan       Manhattan
...                                ...            ...             ...
6428              Central Harlem North      Manhattan       Manhattan
6429  East Concourse/Concourse Village         Queens           Bronx
6430                    Bushwick North       Brooklyn        Brooklyn
6431      East Flatbush/Remsen Village       Brooklyn        Brooklyn
6432                   Windsor Terrace       Brooklyn        Brooklyn

[6433 rows x 14 columns]>

In [38]:
df1["fare"].describe

<bound method NDFrame.describe of 0        7.0
1        5.0
2        7.5
3       27.0
4        9.0
        ...
6428     4.5
6429    58.0
6430    16.0
6431     6.0
6432    15.0
Name: fare, Length: 6433, dtype: float64>

In [39]:
print(df1.dropna())

                  pickup             dropoff  passengers  distance  fare  \
0    2019-03-23 20:21:09 2019-03-23 20:27:24           1      1.60   7.0
1    2019-03-04 16:11:55 2019-03-04 16:19:00           1      0.79   5.0
2    2019-03-27 17:53:01 2019-03-27 18:00:25           1      1.37   7.5
3    2019-03-10 01:23:59 2019-03-10 01:49:51           1      7.70  27.0
4    2019-03-30 13:27:42 2019-03-30 13:37:14           3      2.16   9.0
...                  ...                 ...         ...       ...   ...
6428 2019-03-31 09:51:53 2019-03-31 09:55:27           1      0.75   4.5
6429 2019-03-31 17:38:00 2019-03-31 18:34:23           1     18.74  58.0
6430 2019-03-23 22:55:18 2019-03-23 23:14:25           1      4.14  16.0
6431 2019-03-04 10:09:25 2019-03-04 10:14:29           1      1.12   6.0
6432 2019-03-13 19:31:22 2019-03-13 19:48:02           1      3.85  15.0

       tip  tolls  total   color      payment            pickup_zone  \
0     2.15    0.0  12.95  yellow  credit card        Lenox Hill West
1     0.00    0.0   9.30  yellow         cash  Upper West Side South
2     2.36    0.0  14.16  yellow  credit card          Alphabet City
3     6.15    0.0  36.95  yellow  credit card              Hudson Sq
4     1.10    0.0  13.40  yellow  credit card           Midtown East
...    ...    ...    ...     ...          ...                    ...
6428  1.06    0.0   6.36   green  credit card      East Harlem North
6429  0.00    0.0  58.80   green  credit card                Jamaica
6430  0.00    0.0  17.30   green         cash    Crown Heights North
6431  0.00    0.0   6.80   green  credit card          East New York
6432  3.36    0.0  20.16   green  credit card            Boerum Hill

                          dropoff_zone pickup_borough dropoff_borough
0                  UN/Turtle Bay South      Manhattan       Manhattan
1                Upper West Side South      Manhattan       Manhattan
2                         West Village      Manhattan       Manhattan
3                       Yorkville West      Manhattan       Manhattan
4                       Yorkville West      Manhattan       Manhattan
...                                ...            ...             ...
6428              Central Harlem North      Manhattan       Manhattan
6429  East Concourse/Concourse Village         Queens           Bronx
6430                    Bushwick North       Brooklyn        Brooklyn
6431      East Flatbush/Remsen Village       Brooklyn        Brooklyn
6432                   Windsor Terrace       Brooklyn        Brooklyn

[6341 rows x 14 columns]

In [40]:
df1.shape

(6433, 14)

In [42]:
df.query("distance >= 3.0")

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.00,6.15,0.00,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
6,2019-03-26 21:07:31,2019-03-26 21:17:29,1,3.65,13.00,2.00,0.00,18.80,yellow,credit card,Battery Park City,Two Bridges/Seward Park,Manhattan,Manhattan
8,2019-03-23 11:48:50,2019-03-23 12:06:14,1,3.63,15.00,1.00,0.00,19.30,yellow,credit card,East Harlem South,Midtown Center,Manhattan,Manhattan
10,2019-03-16 10:02:25,2019-03-16 10:22:29,1,3.90,17.00,0.00,0.00,17.80,yellow,cash,LaGuardia Airport,Astoria,Queens,Queens
22,2019-03-28 17:20:54,2019-03-28 17:55:57,1,9.82,31.50,8.31,5.76,49.87,yellow,credit card,LaGuardia Airport,Sutton Place/Turtle Bay North,Queens,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6425,2019-03-07 15:34:30,2019-03-07 16:31:06,1,9.12,26.32,0.00,0.00,26.82,green,credit card,Park Slope,East New York,Brooklyn,Brooklyn
6427,2019-03-23 18:26:09,2019-03-23 18:49:12,1,7.07,20.00,0.00,0.00,20.00,green,cash,Parkchester,East Harlem South,Bronx,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.00,0.00,0.00,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.00,0.00,0.00,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.00,3.36,0.00,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [43]:
len(df.query("distance >= 3.0"))

1711

In [46]:
df.query("pickup_borough == 'Manhattan'")

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6420,2019-03-16 15:39:23,2019-03-16 15:46:18,2,1.20,7.0,0.00,0.0,7.80,green,cash,Central Harlem,Upper West Side North,Manhattan,Manhattan
6422,2019-03-22 20:17:35,2019-03-22 20:36:07,1,4.02,16.0,0.00,0.0,17.30,green,cash,Washington Heights South,Spuyten Duyvil/Kingsbridge,Manhattan,Bronx
6424,2019-03-30 20:52:15,2019-03-30 20:59:55,1,1.70,8.0,0.00,0.0,9.30,green,cash,Central Harlem,Central Harlem North,Manhattan,Manhattan
6426,2019-03-28 08:04:47,2019-03-28 08:07:46,1,0.71,4.5,0.50,0.0,5.80,green,credit card,Central Park,Upper West Side North,Manhattan,Manhattan
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan

In [47]:
len(df.query("pickup_borough == 'Manhattan'"))

5226